@charset "UTF-8";
/* Body */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: source-sans-pro, sans-serif;
    margin: 0px;
    font-style: normal;
    font-weight: 200;
}
.background {
    background: no-repeat url("../../images/motorcycle-2016.jpeg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
h1{
    color: #790909;
}
h1,h2, h3, h4, h5{
    margin-bottom: 2%;
}
.color{
    color: #790909;
}
/* Container */
.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
    background-color: #FFFFFF;
    opacity:.9;
}

/*menu*/

.logo{
    float: left;
    margin-left: 1%;
    height: 100%;
}
.logo img{
    height: 90%;
    margin-left: 1%;
    margin-top:5%;
    float: left;
}
.pre-nav{
    position: relative;
    background: #f5f5f5;
    height: 36px;
    width: 100%;
}
nav {
    width: 100%;
    height: 80px;
    background-color: #790909;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 0.9em;
    padding: 7px 13px;
    border-radius: 3px;
    letter-spacing: 2px;
    font-weight: bold;
}
.active {
    background-color: #5c0707;
}
li:hover {
    background-color: #ec7979;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.user{
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 0.8em;
    letter-spacing: 1px;
    font-weight: bold;
    width: 30%;
}
.user *{
    color: white;
}
.user a{
    color: #790909;
    text-align: right;
    width: 30%;
    margin-right: 3%;
}
.user span{
    color: black;
    text-align: right;
    width: 70%;
}

/* tabla */
.padding{
    padding: 2%;
}

/* formulario */
form div{
    margin-bottom: 1%;
}
button{
    display: inline-block;
    background-color: #790909;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    margin-top: 10px;
}
label {
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: bold;
}
input{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    display: block;
}

/* More info */
.center{
    width: 60%;
    margin-left: 25%;
    padding-top: 2%;
}
.center img{
    width: 10%;
    margin-bottom: 1%;
}
.copyright {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #717070;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    border-top-width: 2px;
    position: fixed;
    min-width: 80%;
    bottom: 0;
}
.hidden {
    display: none;
}
.blackText{
    color: black;
}

/* Mobile */
@media (max-width: 320px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
     #check:checked ~ ul{
        left:0;
    }
}


/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
    .user {
        width: 100%;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #790909;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left:0;
    }
}



/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
    .user {
        width: 70%;
    }
    nav ul{
        width:80%;
    }
    nav ul li {
        margin-right: 5px;
        letter-spacing: 1.5px;
        padding-right: 0px;
        padding-left: 0px;
    }

    nav ul li a {
        padding: 4px;
        font-size: 0.8em;
        letter-spacing: 1px;
    }
}



