<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::body}, 'admin')}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Miguelon Porra GP</title>
</head>
<body>
    <h1 th:text="#{admin.title}"></h1>
    <form class="classification" action="#" th:action="@{/admin}" method="get">
        <div class="input-group mb-3">
            <button type="submit" th:text="#{admin.view}" class="btn btn-danger"/>
            <select id="raceSelect" name="race" class="form-select" >
                <option th:each="r: ${races}" th:value="${r.id}" th:text="${r.id} + '. ' + ${r.name}" th:selected="${r.name} == ${race.name}"></option>
            </select>
        </div>
    </form>
    <div>
        <p class="error" th:if="${existingResult}" th:text="#{admin.existingResult}"></p>
        <p class="error" th:if="${validationError}" th:text="#{${validationError}}"></p>
        <form class="makeBet" th:action="@{/admin}" th:if="${race}" th:object="${result}" method="post" enctype="utf8">
            <input type="hidden" name="raceId" th:value="${race.id}">
            <section>
                <h2 th:text="#{admin.moto3.title}"></h2>
                <div class="form-floating">
                    <select id="moto3-first" name="moto3" class="form-select">
                        <option value="">Selecciona un corredor</option>
                        <option th:each="rider : ${ridersMoto3}" th:value="${rider.dorsal}" th:text="${rider.dorsal} + '. ' + ${rider.name} + ' - ' + ${rider.team}"
                                th:selected="${existingResult} != null and ${rider.dorsal} == ${existingResult.moto3}"></option>
                    </select>
                    <label for="moto3-first" th:text="#{admin.firstPilot}"></label>
                </div>
                <p class="error" th:each="error: ${#fields.errors('moto3')}"
                   th:text="#{${error}}">Validation error</p>
            </section>
            <section>
                <h2 th:text="#{admin.moto2.title}"></h2>
                <div class="form-floating">
                    <select id="moto2-first" name="moto2" class="form-select">
                        <option value="">Selecciona un corredor</option>
                        <option th:each="rider : ${ridersMoto2}" th:value="${rider.dorsal}" th:text="${rider.dorsal} + '. ' + ${rider.name} + ' - ' + ${rider.team}"
                                th:selected="${existingResult} != null and ${rider.dorsal} == ${existingResult.moto2}"></option>
                    </select>
                    <label for="moto2-first" th:text="#{admin.firstPilot}"></label>
                </div>
                <p class="error" th:each="error: ${#fields.errors('moto2')}"
                   th:text="#{${error}}">Validation error</p>
            </section>
            <section>
                <h2 th:text="#{admin.motogp.title}"></h2>
                <div class="form-floating">
                    <select id="motogp-first" name="motogpFirst" class="form-select">
                        <option value="">Selecciona un corredor</option>
                        <option th:each="rider : ${ridersMotoGP}" th:value="${rider.dorsal}" th:text="${rider.dorsal} + '. ' + ${rider.name} + ' - ' + ${rider.team}"
                                th:selected="${existingResult} != null and ${rider.dorsal} == ${existingResult.motogpFirst}"></option>
                    </select>
                    <label for="motogp-first" th:text="#{admin.firstPilot}"></label>
                </div>
                <p class="error" th:each="error: ${#fields.errors('motogpFirst')}"
                   th:text="#{${error}}">Validation error</p>
                <div class="form-floating">
                    <select id="motogp-second" name="motogpSecond" class="form-select">
                        <option value="">Selecciona un corredor</option>
                        <option th:each="rider : ${ridersMotoGP}" th:value="${rider.dorsal}" th:text="${rider.dorsal} + '. ' + ${rider.name} + ' - ' + ${rider.team}"
                                th:selected="${existingResult} != null and ${rider.dorsal} == ${existingResult.motogpSecond}"></option>
                    </select>
                    <label for="motogp-second" th:text="#{admin.secondPilot}"></label>
                </div>
                <p class="error" th:each="error: ${#fields.errors('motogpSecond')}"
                   th:text="#{${error}}">Validation error</p>
                <div class="form-floating">
                    <select id="motogp-third" name="motogpThird" class="form-select">
                        <option value="">Selecciona un corredor</option>
                        <option th:each="rider : ${ridersMotoGP}" th:value="${rider.dorsal}" th:text="${rider.dorsal} + '. ' + ${rider.name} + ' - ' + ${rider.team}"
                                th:selected="${existingResult} != null and ${rider.dorsal} == ${existingResult.motogpThird}"></option>
                    </select>
                    <label for="motogp-third" th:text="#{admin.thirdPilot}"></label>
                </div>
                <p class="error" th:each="error: ${#fields.errors('motogpThird')}"
                   th:text="#{${error}}">Validation error</p>
                <div class="form-floating">
                    <select id="motogp-fourth" name="motogpFourth" class="form-select">
                        <option value="">Selecciona un corredor</option>
                        <option th:each="rider : ${ridersMotoGP}" th:value="${rider.dorsal}" th:text="${rider.dorsal} + '. ' + ${rider.name} + ' - ' + ${rider.team}"
                                th:selected="${existingResult} != null and ${rider.dorsal} == ${existingResult.motogpFourth}"></option>
                    </select>
                    <label for="motogp-fourth" th:text="#{admin.fourthPilot}"></label>
                </div>
                <p class="error" th:each="error: ${#fields.errors('motogpFourth')}"
                   th:text="#{${error}}">Validation error</p>
                <div class="form-floating">
                    <select id="motogp-fifth" name="motogpFifth" class="form-select">
                        <option value="">Selecciona un corredor</option>
                        <option th:each="rider : ${ridersMotoGP}" th:value="${rider.dorsal}" th:text="${rider.dorsal} + '. ' + ${rider.name} + ' - ' + ${rider.team}"
                                th:selected="${existingResult} != null and ${rider.dorsal} == ${existingResult.motogpFifth}"></option>
                    </select>
                    <label for="motogp-fifth" th:text="#{admin.fifthPilot}"></label>
                </div>
                <p class="error" th:each="error: ${#fields.errors('motogpFifth')}"
                   th:text="#{${error}}">Validation error</p>
                <div class="form-floating">
                    <select id="motogp-sixth" name="motogpSixth" class="form-select">
                        <option value="">Selecciona un corredor</option>
                        <option th:each="rider : ${ridersMotoGP}" th:value="${rider.dorsal}" th:text="${rider.dorsal} + '. ' + ${rider.name} + ' - ' + ${rider.team}"
                                th:selected="${existingResult} != null and ${rider.dorsal} == ${existingResult.motogpSixth}"></option>
                    </select>
                    <label for="motogp-sixth" th:text="#{admin.sixthPilot}"></label>
                </div>
                <p class="error" th:each="error: ${#fields.errors('motogpSixth')}"
                   th:text="#{${error}}">Validation error</p>
            </section>
            <section>
                <p>
                    <button type="reset" class="btn btn-outline-danger" th:text="#{admin.reset}"></button>
                    <button type="submit" class="btn btn-danger" th:text="#{admin.submit}"></button>
                </p>
            </section>
        </form>
    </div>
</body>
</html>