<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::body}, 'calendar')}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Miguelon Porra GP</title>
</head>
<body>
<h1 th:text="#{calendar.title}"></h1>
<div class="table-responsive">
    <table class="tableColumn table table-dark table-striped align-middle marginBottomTable">
        <thead>
        <tr class="align-middle">
            <th class="primaryColor" th:text="#{calendar.raceNumber}"></th>
            <th class="primaryColor"  th:text="#{calendar.raceCountry}"></th>
            <th class="primaryColor"  th:text="#{calendar.circuitName}"></th>
            <th class="primaryColor"  th:text="#{calendar.raceStartDate}"></th>
            <th class="primaryColor"  th:text="#{calendar.raceEndDate}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="race : ${races}">
            <td th:text="${race.id}"></td>
            <td th:text="${race.country}"></td>
            <td th:text="${race.name}"></td>
            <td th:text="${#dates.format(race.startDate, 'dd-MM-yyyy')}"></td>
            <td th:text="${#dates.format(race.endDate, 'dd-MM-yyyy')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>