<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::body}, 'classification')}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Miguelon Porra GP</title>
</head>
<body>
<h1 th:text="#{classification.title(${currentClassification.raceName})}"></h1>
<div>
    <form class="classification" action="#" th:action="@{/classification}" method="get">
        <label th:text="#{classification.title('')}"></label>
        <select id="raceSelect" name="race">
            <option th:each="race: ${races}" th:value="${race.id}" th:text="${race.id} + '. ' + ${race.name}" th:selected="${race.name} == ${currentClassification.raceName}"></option>
            <input type="submit" value="Ver" />
        </select>
    </form>
    <table id="classificationTable" class="tableColumn">
        <thead>
        <tr>
            <th th:text="#{classification.position}"></th>
            <th th:text="#{classification.teamName}"></th>
            <th th:text="#{classification.entryPoints}"></th>
            <th th:text="#{classification.positionPoints}"></th>
            <th th:text="#{classification.bonificationPoints}"></th>
            <th th:text="#{classification.totalGpPoints}"></th>
            <th th:text="#{classification.moto2and3Points}"></th>
            <th th:text="#{classification.totalPoints}"></th>
            <th th:text="#{classification.pointsDif}"></th>
            <th th:text="#{classification.earned}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="classifiedTeam : ${currentClassification.classifiedTeams}">
            <td th:text="${classifiedTeam.position}"></td>
            <td th:text="${classifiedTeam.teamName}"></td>
            <td th:text="${classifiedTeam.entryPoints}"></td>
            <td th:text="${classifiedTeam.positionPoints}"></td>
            <td th:text="${classifiedTeam.bonificationGpPoints}"></td>
            <td th:text="${classifiedTeam.totalGpPoints}"></td>
            <td th:text="${classifiedTeam.motoTwoAndThreePoints}"></td>
            <td th:text="${classifiedTeam.totalPoints}"></td>
            <td th:text="${classifiedTeam.pointsDif}"></td>
            <td th:text="${classifiedTeam.earned}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>