<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::body}, 'home')}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Miguelon Porra GP</title>
</head>
<body>
    <h1 th:text="#{home.title}"></h1>
    <h3 th:text="${nextRace} != null ? #{home.nextRace(${nextRace.id}, ${nextRace.name}, ${nextRace.startDate}, ${nextRace.endDate})} : #{home.noNextRace}"></h3>
    <div>
        <h3 class="color" th:text="#{home.generalClassification}"></h3>
        <table id="classificationTable">
            <thead>
                <tr>
                    <th th:text="#{home.position}"></th>
                    <th th:text="#{home.teamName}"></th>
                    <th th:text="#{home.points}"></th>
                    <th th:text="#{home.pointsDif}"></th>
                </tr>
            </thead>
            <tbody th:if="${classification} != null">
                <tr th:each="classifiedTeam : ${classification.classifiedTeams}">
                    <td th:text="${classifiedTeam.position} != 0 ? ${classifiedTeam.position} : '-' "></td>
                    <td th:text="${classifiedTeam.teamName}"></td>
                    <td th:text="${classifiedTeam.points}"></td>
                    <td th:text="${classifiedTeam.pointsDif}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>