<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::body}, 'home')}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Miguelon Porra GP</title>
</head>
<body>
    <h1 th:text="#{home.title}"></h1>
    <p class="fw-bold" th:text="${nextRace} != null ? #{home.nextRace(${nextRace.id}, ${nextRace.name}, ${nextRace.startDate}, ${nextRace.endDate})} : #{home.noNextRace}"></p>
    <a class="external-link link-danger" href="https://www.motogp.com/es/gp-results" target="_blank" th:text="#{home.qualificationResults}"></a>
    <div>
        <h3 th:text="#{home.generalClassification}"></h3>
        <div class="alert alert-info" role="alert" th:text="#{home.alertaResultados}">
        </div>
        <div class="table-responsive">
            <table id="classificationTable" class="table table-dark table-striped align-middle marginBottomTable">
                <thead>
                <tr class="align-middle">
                    <th class="primaryColor"  th:text="#{home.position}"></th>
                    <th class="primaryColor"  th:text="#{home.teamName}"></th>
                    <th class="primaryColor"  th:text="#{home.points}"></th>
                    <th class="primaryColor"  th:text="#{home.pointsDif}"></th>
                </tr>
                </thead>
                <tbody th:if="${classification} != null">
                <tr th:each="classifiedTeam : ${classification.classifiedTeams}">
                    <td th:text="${classifiedTeam.position} != 0 ? ${classifiedTeam.position} : '-' "></td>
                    <td th:text="${classifiedTeam.teamName}"></td>
                    <td th:text="${classifiedTeam.totalPoints}"></td>
                    <td th:text="${classifiedTeam.pointsDif}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>