<!DOCTYPE html>
<html th:fragment="layout (template, menu)" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xml:lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" type="text/css">
    <title>Porra Miguelon GP</title>
<body>

<div class="container">
        <nav class="ui-menu" role="navigation">
            <a href=""> <img th:src="@{/images/LOGO porra.png}" alt=""/> </a>
            <ul class="ui-menu">
                <li><a th:text="#{menu.home}" th:href="@{/}"></a></li>
                <li><a th:text="#{menu.calendar}" th:href="@{/calendar}"></a></li>
                <li><a th:text="#{menu.viewTable}" th:href="@{/classification/?race=0}"></a></li>
                <li><a th:text="#{menu.makeBet}" href="#"></a></li>
                <li><a th:text="#{menu.rules}" href="#"></a></li>
            </ul>
            <div class="user" sec:authorize="isAuthenticated()">
                <span th:text="${#authentication.getPrincipal().team.name}"></span>
                <a th:text="#{layout.logout}" th:href="@{/logout}"></a>
            </div>
            <div class="user" sec:authorize="isAnonymous()">
                <a th:text="#{layout.register}" th:href="@{/register}"></a>
                <a th:text="#{layout.login}" th:href="@{/login}"></a>
            </div>
        </nav>




    <div class="padding">
        <th:block th:include="${template}"/>
    </div>
    <footer class="copyright">&copy;2022</footer>
</div>
</body>
</html>