<!DOCTYPE html>
<html data-bs-theme="dark" lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" type="text/css">
    <title>Login Porra Miguelon</title>
</head>
<body class="background">
<div class="container">
    <div class="center">
        <div > <img th:src="@{/images/LOGO porraNegro.png}" alt=""/> </div>

    <h1 th:text="#{login.title}"></h1>
    <h2 th:if="${createdUser}" th:text="#{login.createdUser(${createdUser.teamName})}"></h2>
    <h2 class="error" th:if="${errorMessage}" th:text="#{${errorMessage}}"></h2>
    <h2 th:if="${param.logout}" th:text="#{login.loggedOut}"></h2>
    <form th:action="@{/login}" method="post">
        <p>
            <label for="username" th:text="#{login.username}"> </label> <input id="username" type="text" name="username"/>
        </p>
        <p>
            <label for="password" th:text="#{login.password}"> </label> <input id="password" type="password" name="password"/>
        </p>
        <p>
            <a th:text="#{layout.register}" th:href="@{/register}"></a>
            <button type="submit" th:text="#{login.submit}"></button>
        </p>
    </form>

    </div>
    <footer class="footer">
        <div class="container copyright">&copy;2023</div>
    </footer>

</div>
</body>
</html>