<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Login Porra Miguelon</title>
</head>
<body>
    <h1 th:text="#{logintitle}"></h1>
    <div th:if="${errorMessage}" th:text="${errorMessage}"></div>
    <div th:if="${param.logout}" th:text="#{loggedOut}"></div>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="username" th:text="#{username}"> </label> <input id="username" type="text" name="username"/>
        </div>
        <div>
            <label for="password" th:text="#{password}"> </label> <input id="password" type="password" name="password"/>
        </div>
        <div>
            <input type="submit" th:value="#{login}"/>
        </div>
    </form>
</body>
</html>