<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::body}, 'bet')}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Miguelon Porra GP</title>
</head>
<body>
<h1 th:text="#{bet.title}"></h1>
<h3 th:text="${nextRace} != null ? #{bet.nextRace(${nextRace.id}, ${nextRace.name}, ${nextRace.country}, ${nextRace.startDate})} : #{bet.noNextRace}"></h3>
<div>
    <p th:if="${existingBet}" th:text="#{bet.existingBet}"></p>
    <p th:if="${validationError}" th:text="#{${validationError}}"></p>
    <form class="makeBet" th:action="@{/make-bet}" th:if="${nextRace}" th:object="${bet}" method="post" enctype="utf8">
        <input type="hidden" name="raceId" th:value="${nextRace.id}">
        <section>
            <h2 th:text="#{bet.moto3.title}"></h2>
            <p>
                <label for="moto3-first" th:text="#{bet.firstPilot}"></label>
                <select id="moto3-first" name="moto3">
                    <option value="">Selecciona un corredor</option>
                    <option th:each="rider : ${ridersMoto3}" th:value="${rider.dorsal}" th:text="${rider.dorsal} + '. ' + ${rider.name} + ' - ' + ${rider.team}"
                            th:selected="${existingBet} != null and ${rider.dorsal} == ${existingBet.moto3}"></option>
                </select>
                <p th:each="error: ${#fields.errors('moto3')}"
                   th:text="#{${error}}">Validation error</p>
            </p>
        </section>
        <section>
            <h2 th:text="#{bet.moto2.title}"></h2>
            <p>
                <label for="moto2-first" th:text="#{bet.firstPilot}"></label>
                <select id="moto2-first" name="moto2">
                    <option value="">Selecciona un corredor</option>
                    <option th:each="rider : ${ridersMoto2}" th:value="${rider.dorsal}" th:text="${rider.dorsal} + '. ' + ${rider.name} + ' - ' + ${rider.team}"
                            th:selected="${existingBet} != null and ${rider.dorsal} == ${existingBet.moto2}"></option>
                </select>
                <p th:each="error: ${#fields.errors('moto2')}"
                   th:text="#{${error}}">Validation error</p>
            </p>
        </section>
        <section>
            <h2 th:text="#{bet.motogp.title}"></h2>
            <p>
                <label for="motogp-first" th:text="#{bet.firstPilot}"></label>
                <select id="motogp-first" name="motogpFirst">
                    <option value="">Selecciona un corredor</option>
                    <option th:each="rider : ${ridersMotoGP}" th:value="${rider.dorsal}" th:text="${rider.dorsal} + '. ' + ${rider.name} + ' - ' + ${rider.team}"
                            th:selected="${existingBet} != null and ${rider.dorsal} == ${existingBet.motogpFirst}"></option>
                </select>
                <p th:each="error: ${#fields.errors('motogpFirst')}"
                   th:text="#{${error}}">Validation error</p>
            </p>
            <p>
                <label for="motogp-second" th:text="#{bet.secondPilot}"></label>
                <select id="motogp-second" name="motogpSecond">
                    <option value="">Selecciona un corredor</option>
                    <option th:each="rider : ${ridersMotoGP}" th:value="${rider.dorsal}" th:text="${rider.dorsal} + '. ' + ${rider.name} + ' - ' + ${rider.team}"
                            th:selected="${existingBet} != null and ${rider.dorsal} == ${existingBet.motogpSecond}"></option>
                </select>
                <p th:each="error: ${#fields.errors('motogpSecond')}"
                   th:text="#{${error}}">Validation error</p>
            </p>
            <p>
                <label for="motogp-third" th:text="#{bet.thirdPilot}"></label>
                <select id="motogp-third" name="motogpThird">
                    <option value="">Selecciona un corredor</option>
                    <option th:each="rider : ${ridersMotoGP}" th:value="${rider.dorsal}" th:text="${rider.dorsal} + '. ' + ${rider.name} + ' - ' + ${rider.team}"
                            th:selected="${existingBet} != null and ${rider.dorsal} == ${existingBet.motogpThird}"></option>
                </select>
                <p th:each="error: ${#fields.errors('motogpThird')}"
                   th:text="#{${error}}">Validation error</p>
            </p>
            <p>
                <label for="motogp-fourth" th:text="#{bet.fourthPilot}"></label>
                <select id="motogp-fourth" name="motogpFourth">
                    <option value="">Selecciona un corredor</option>
                    <option th:each="rider : ${ridersMotoGP}" th:value="${rider.dorsal}" th:text="${rider.dorsal} + '. ' + ${rider.name} + ' - ' + ${rider.team}"
                            th:selected="${existingBet} != null and ${rider.dorsal} == ${existingBet.motogpFourth}"></option>
                </select>
                <p th:each="error: ${#fields.errors('motogpFourth')}"
                   th:text="#{${error}}">Validation error</p>
            </p>
            <p>
                <label for="motogp-fifth" th:text="#{bet.fifthPilot}"></label>
                <select id="motogp-fifth" name="motogpFifth">
                    <option value="">Selecciona un corredor</option>
                    <option th:each="rider : ${ridersMotoGP}" th:value="${rider.dorsal}" th:text="${rider.dorsal} + '. ' + ${rider.name} + ' - ' + ${rider.team}"
                            th:selected="${existingBet} != null and ${rider.dorsal} == ${existingBet.motogpFifth}"></option>
                </select>
                <p th:each="error: ${#fields.errors('motogpFifth')}"
                   th:text="#{${error}}">Validation error</p>
            </p>
            <p>
                <label for="motogp-sixth" th:text="#{bet.sixthPilot}"></label>
                <select id="motogp-sixth" name="motogpSixth">
                    <option value="">Selecciona un corredor</option>
                    <option th:each="rider : ${ridersMotoGP}" th:value="${rider.dorsal}" th:text="${rider.dorsal} + '. ' + ${rider.name} + ' - ' + ${rider.team}"
                            th:selected="${existingBet} != null and ${rider.dorsal} == ${existingBet.motogpSixth}"></option>
                </select>
                <p th:each="error: ${#fields.errors('motogpSixth')}"
                   th:text="#{${error}}">Validation error</p>
            </p>
        </section>
        <section>
            <p>
                <button type="reset" th:text="#{bet.reset}"></button>
                <button type="submit" th:text="#{bet.submit}"></button>
            </p>
        </section>
    </form>
</div>

</body>
</html>