<!DOCTYPE html>
<html data-bs-theme="dark" lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" type="text/css">
    <title>Registrarse Porra Miguelon</title>
</head>
<body class="background d-flex flex-column h-100">
    <div class="container h-100 text-center">
        <div class="form-signin">
            <form action="/register" th:object="${user}" method="POST" enctype="utf8">
                <img class="mb-3" th:src="@{/images/LOGO porra.png}" width="80" height="80" alt=""/>
                <h1 class="text-white mb-3" th:text="#{register.title}"></h1>
                <div class="error" th:if="${errorMessage}" th:text="#{${errorMessage}}"></div>
                <div class="form-floating mb-2">
                    <input id="teamName" type="text" class="form-control" th:field="*{teamName}" th:placeholder="#{register.teamNamePlaceholder}"/>
                    <label for="teamName" th:text="#{register.teamName}"></label>
                    <p class="error mt-1" th:each="error: ${#fields.errors('teamName')}"
                       th:text="#{${error}}">Validation error</p>
                </div>
                <div class="form-floating mb-2">
                    <input id="password" type="password" class="form-control"  th:field="*{password}" th:placeholder="#{register.password}"/>
                    <label for="password" th:text="#{register.password}"></label>
                    <p class="error mt-1" th:each="error : ${#fields.errors('password')}"
                   th:text="#{${error}}">Validation error</p>
                </div>
                <div class="form-floating mb-2">
                    <input id="confirmPassword" type="password" class="form-control" th:field="*{confirmPassword}" th:placeholder="#{register.password}"/>
                    <label for="confirmPassword" th:text="#{register.confirmPassword}"></label>
                    <p class="error mt-1" th:each="error : ${#fields.globalErrors()}"
                       th:text="#{${error}}">Global error</p>
                </div>
                <div class="form-floating mb-4">
                    <input id="registerCode" type="text" class="form-control"  th:field="*{registerCode}" th:placeholder="#{register.registerCode}"/>
                    <label for="registerCode" th:text="#{register.registerCode}"></label>
                    <p class="error mt-1" th:each="error : ${#fields.errors('registerCode')}"
                       th:text="#{${error}}">Validation error</p>
                </div>
                <button class="register btn btn-danger w-100 mb-2" type="submit" th:text="#{register.create}"></button>
                <a class="btn btn-outline-danger w-100 mb-2" th:href="@{/login.html}" th:text="#{register.login}">login</a>
            </form>
        </div>
    </div>
    <footer class="footer mt-auto">
        <div class="copyright">&copy;2023</div>
    </footer>
</body>
</html>